body {
  background-image: url(https://i.imgur.com/pmJftGD.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header {
text-align: center;
margin-top: 450px;
}

#logo {
width: 1500px;
}



#button-eyes {
  
  background: none;
  border: none;
  text-align: center;

}

.input1 {
  width: 800px; 
  height: 120px; 
  padding: 5px;
  font-size: 100px;
  border-radius: 25px;
  text-align: center;
  font-family: 'Poiret One', cursive;

}
 
form {
  text-align: center;
  padding: 40px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: static;

 } 

 .biz-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  
 }
