body {
  background-image: url(https://i.imgur.com/pmJftGD.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}
header {
  text-align: center;
  margin-top: 60px;
}

#logo {
  width: 500px;
}

#button-eyes {
  background: none;
  border: none;
  text-align: center;
}
#button-eyes :hover {
  transform: scale(1.5);
}

#button-eyes img {
  height: 65px;
  width: auto;
}

.input1 {
  width: 250px;
  height: 25px;
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poiret One", cursive;
}

form {
  text-align: center;
  padding: 40px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input1 {
  margin-top: 15px;
  margin-bottom: 0px;
}

.contact {
  text-align: center;
}
h4 {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 25px;
  background-color: skyblue;
  border-radius: 15px;
  color: #ffffff;
  width: 155px;
  height: 35px;
  padding-top: 5px;
}

h3 {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  color: #ffffff;
  padding-top: 5px;
}

.biz-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-top: 100px;
}

.display-box {
  border: 0.25px solid rgb(0, 0, 0);
  /* border-radius: 15px; */
  text-align: center;
  font-family: "Poiret One", cursive;
  padding: 30px;
  margin: 0px;
  height: 300px;
  width: 200px;
  background-position: fit;
}

.display-box :hover {
  /* transform: scale(1.5);  */
  color: black;
}
.city {
  font-family: "Poiret One", cursive;
  font-size: 35px;
  text-align: center;
  color: white;
  margin-top: 25px;
  background-color: pink;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bizDiv-container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.business-name {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: rgb(116, 135, 228);
  border-radius: 15px;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.7);
}

#map {
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

#rerstaurant-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  border: 2.5px solid rgb(5, 5, 5);
  border-radius: 15px;
  width: 375px;
  height: 825px;
  box-shadow: 10px 10px 80px rgb(255 255 255);
  text-align: center;
  font-family: "Poiret One", cursive;
  color: rgb(252, 252, 252);
  font-size: 20px;
  background-size: cover;
  background-image: linear-gradient(rgb(78, 76, 205), rgb(76, 194, 249));
}

#map {
  border: 2.5px solid rgb(58, 0, 205);
  border-radius: 15px;
  background-color: rgb(58, 0, 205);

}

.logo-4modal {
  width: 80px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-container {
  text-align: center;
  padding: 40px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: static;
}

.form-container1 [type="text"] {
  width: 25%;
  padding: 12px 20px;
  display: block;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 20px auto;
}


footer {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 20px;
  color: blue;
  margin-top: 65px;
  margin-bottom: 100px;
}

@media screen and (min-device-width: 480px) {
  .biz-data {
    width: fit-content;
  }
}

@media screen and (max-device-width: 1000px) {
  .biz-data {
    width: fit-content;
  }
}
